astroid==1.4.5
colorama==0.3.7
coverage==4.1
Django==1.9.6
django-debug-toolbar==1.4
django-extensions==1.6.6
django-widget-tweaks==1.4.1
dodgy==0.1.9
factory-boy==2.7.0
fake-factory==0.5.7
lazy-object-proxy==1.2.2
logilab-common==1.2.0
Markdown==2.6.6
mccabe==0.4.0
pep257==0.7.0
pep8==1.7.0
pep8-naming==0.3.3
Pillow==3.2.0
prospector==0.11.7
py==1.4.31
pyflakes==1.2.3
pylint==1.5.5
pylint-celery==0.3
pylint-common==0.2.2
pylint-django==0.7.1
pylint-flask==0.3
pylint-plugin-utils==0.2.3
pytest==2.9.1
python-dateutil==2.5.3
PyYAML==3.11
requirements-detector==0.5.1
setoptconf==0.2.0
six==1.10.0
sqlparse==0.1.19
Werkzeug==0.11.9
wrapt==1.10.8
